@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    /* @apply bg-white; */

    @apply bg-transparent;

    @apply font-mono antialiased text-black;

    @apply overflow-hidden;

    /* @apply opacity-50; */
  }
}
body {
  -webkit-app-region: drag;
  background: rgba(0, 0, 0, 0);
}

button,
input,
select {
  -webkit-app-region: no-drag;
}
